.mainscreen {
  position: relative;
  margin-top: 10px;
  float: right;
  width: 83%;
  padding-right: 17px;
  margin-bottom: 30px;
}
.mainscreen__pictures {
  display: grid;
  grid-template-rows: 220px 220px; 
  grid-auto-flow: column;  
  grid-auto-columns: 220px; 
  grid-gap: 18px; 
  overflow-y: hidden;
  overflow-x: scroll;
}

.mainscreen .switchLeft,
.mainscreen .switchRight {
  color: #222;
  font-size: 40px;
  top: 200px;
  text-align: center;
  z-index: 9;
}

 /* Media queries */
 @media  screen and (max-width: 1600px) {
  .mainscreen__pictures {
    grid-template-columns: repeat(4, fill);
  }
}

@media screen and (max-width: 1920px){
  .mainscreen__pictures {
    grid-template-columns: repeat(4, fill);
  }
}

  
  @media screen and (max-width: 960px) {
    .mainscreen__pictures {
      grid-template-columns: repeat(3, fill);
    }
    .mainscreen {
      position: relative;
      margin-top: 10px;
      float: right;
      width: 100%;
      padding-right: 17px;
      margin-bottom: 30px;
      padding-left: 15px;
    }
    
  }
  
  @media (max-width: 600px) {
    .homescreen__pictures {
      grid-template-columns: 1fr;
    }
    .mainscreen {
      width: 100%;
      padding-left: 15px;
    }
  }