.picture {
    margin: 5px 0 5px 5px;
    width: 220px;;
    background: #fff;
    cursor: pointer;
  }
  
  .picture > img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    transition: ease-in-out 0.3s;
  }

  .picture > img:hover{
    transform: scale(1, 1.09);
    z-index: 5;
  }

  @media (max-width : 600px) {
    .picture {
      width: 240px;
    }
  }

  @media (max-width: 1250px) {
    .picture {
      margin: 5px 0 5px 5px;
      width: 220px;;
      background: #fff;
      cursor: pointer;
    }
    
    .picture > img {
      width: 220px;
      height: 220px;
      object-fit: cover;
      transition: ease-in-out 0.3s;
    }
  }
  
  @media (min-width: 1300px) {
    .picture {
      width: 240px;
    }
  }