
.navbar {
    position: relative;
    top: 0;
    width: 100%;
    color: #222;
    display: flex;
    background: #eee;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    z-index: 12;
  }
   .navbar__logo {
    color: rgb(34, 31, 31);
    font-size: 1.2rem;
    font-weight:normal;
    font-family: serif;
    text-decoration: none;
    cursor: pointer;
  }
  
  .navbar__links {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar__links > li  {
    text-align: center;
    width: 100%;
  }
  
  .navbar .navbar__links li h1 a:hover a:focus a:active {
    text-decoration: none;
  }

  
  @media (min-width: 1300px) {
    .navbar__logo  {
      font-size: 1.2rem;
    }
  }

  @media (max-width: 960px) {
    .navbar__links {
      font-size: 1.5rem;
    }
  
    .hamburger__menu {
      display: flex;
    }
  }

  @media (max-width: 822px){
    .navbar__logo  {
      font-size: 2rem;
    }
  }
  @media (max-width: 500px) {
    .navbar__logo {
      color: #222;
      font-size: 1.2rem;
  }
  .navbar__logo a {
    border-top: none;
    text-decoration: none;
   }
   .navbar__logo a:hover {
    border: none;
    text-decoration: none;
   }
}

@media (max-width: 480px) {
  .navbar__logo {
    color: #222;
    font-size: 1.5rem;
}}