
  .side-container {
    display: flex;
    flex-direction: column;
    width: 16%;
    transition: all 0.5s linear;
    background-color: #777;
    margin-right:3px;
    height: 100vh;
    min-height: 1100px;
    float: left;
    top: 0;
  }
  
  .side-container .side-nav {
    list-style-type: none;
    padding:0;
  }
  .side-container .side-nav li {
    position: relative;
    background: #eee;
    text-align: center;
}
  .side-container .side-nav li a {
    border-top: 0.5px solid rgba(255,255,255,0.1);
    border-bottom: 0.5px solid #777;
    text-decoration: none;
    width: 100%;
    font-size: medium;
    font-weight:normal;
    padding: 8px;
    color: rgb(34, 31, 31);
    padding-left:25%;
    border-left: 5px solid transparent;
    transition: all 0.3s linear;
    display: flex;
    justify-content: flex-start;
  }

.sideIcon {
    display: none;
    font-size:30px;
    cursor:pointer;
  }

  .closebtn {
    display: none;
  }

  .text {
    transition: all .4s linear;
  }
  li:hover .text{
   margin-left:17px;
  
  }

  .active {
    color: #fff;
    border-left: 5px solid #FFA500;
    background-color: #777;
    outline:0;
  }

  .active a {
    color: #fff;
    border-left: 5px solid #FFA500;
    background-color: #777;
    outline:0;
  }
  
  .side-container .side-nav li:not(.active):hover a {
    color: #eee;
    border-left:5px solid #FFA500;
    background-color: #777;
  }

  /* Media queries */
  @media  screen and (max-width: 1600px) {
    .text{
      font-size: 0.85rem;
    }
    .side-container {
      height: 100vh;
      min-height: 1100px;
   }
}

@media screen and (max-width: 1920px){
  .text{
    font-size: 0.85rem;
  }
  
  .side-container {
    height: 100vh;
    min-height: 1100px;
 }
}
  @media screen and (max-width : 1300px){
    
    .side-container .side-nav li a:hover{
      width: 100%;
      z-index:1;
    }
    a:hover .text {
      display:block;
      padding-left: 10%;    
    }
    .side-container {
      height: 100vh;
      min-height: 1100px;
   }
  }

  @media screen and (max-width: 1024px){
    .text {
      font-size: 1.1rem;
   }
  .side-container .side-nav li a:hover{
    width: 100%;
    z-index:1;
    margin-left:none;
  }
  a:hover .text {
    display:block;
    padding-left: 10%;    
  }
  .side-container {
     width: 16%;
     height: 100vh;
}

.side-container .side-nav li a {
  width: 100%;
  font-size: medium;
  font-weight: normal;
  padding: 8px;
  color: rgb(34, 31, 31);
  text-align: center;
}
}

  @media only screen and  (max-width: 960px){
    .text{
      font-size: 1rem;
    }
    .side-container .side-nav li a:hover{
      width: 100%;
      z-index:1;
      margin-left:none;
    }
    a:hover .text {
      display:block;
      padding-left: 10%;    
    }
    .side-container {
       width: 100%;
       height:fit-content;
  }
  .side-container .side-nav li a {
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: medium;
    font-weight: normal;
    padding: 8px;
    color: rgb(34, 31, 31);
    border-left: 5px solid transparent;
    transition: all 0.3s linear;
}
 
  }

  @media only screen and (max-width: 822px){
    .text{
      font-size: 1.35rem;
      font-weight: normal;
      padding: 10px
    }
    .side-container .side-nav li a:hover{
      width: 100%;
      z-index:1;
      margin-left:none;
    }
    a:hover .text {
      display:block;
      padding-left: 10%;    
    }
  
  .side-container .side-nav li a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: rgb(34, 31, 31);
}
   .sideIcon {
    display: flex;
    width: 50px;
    flex-direction: column;
    font-size:45px;
    z-index: 3;
    padding-left: 10px;
  }
 
  .closebtn {
    display: inline;
    position: absolute;
    left: 70%;
    font-size: 60px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    margin-top: -60px;
    margin-left: 50px;
}

.side-container {
  display: none;
   width: 80%;
   text-align: center;
   z-index: 3;
   height:fit-content;

}
  }
 
  @media screen and (max-width : 550px){
    .text{
      font-size: 1rem;
    }
    .side-container .side-nav li a:hover{
      width: 100%;
      z-index:1;
      margin-left:none;
    }
    a:hover .text {
      display:block;
      padding-left: 10%;    
    }
    .side-container {
       width: 100%;
       height:fit-content;
  }
  .side-container .side-nav li a {
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: medium;
    font-weight: normal;
    padding: 8px;
    color: rgb(34, 31, 31);
}
   .sideIcon {
    display: flex;
    width: 70px;
    flex-direction: column;
    font-size:30px;
    z-index: 3;
    padding-left: 10px;
  }
 
  .closebtn {
    display: inline;
    position: absolute;
    left: 70%;
    font-size: 50px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    margin-top: -45px;
    margin-left: 50px;
}

.side-container {
  display: none;
   width: 80%;
   text-align: center;
   z-index: 3;
   height:fit-content;

}
  }
 

  @media screen and (max-width: 460px){
    .text {
      font-size: 1rem;
    }
    .side-container .side-nav li a {
      text-decoration: none;
      width: 100%;
      padding-left: 0; 
      font-size:medium;
  }
  
  .sideIcon {
    display: flex;
    width: 70%;
    flex-direction: column;
    font-size:30px;
    z-index: 3;
    padding-left: 10px;
  }
 
  .closebtn {
    display: inline;
    position: absolute;
    left: 50%;
    font-size: 50px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    margin-top: -45px;
    margin-left: 50px;
}
  
  .side-container {
    display: none;
     width: 70%;
     text-align: center;
     z-index: 3;
     height:fit-content;

  }
}
  
