
:root {
    --mainWhite:#FFF;
    --mainblack: #222;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: Arial Helvetica "Lato", sans-serif;
}

  img {
    object-fit: contain;
  }